<div class="row">
    <div class="large-6 columns large-centered">
        <p class="selling-it panel" style="margin-top: 1px;">
            The Nairobi Dev School is seeking driven and motivated students to be a
            part of the inaugural class. We are looking for students who have an
            unyielding passion to learning about different technologies and
            who are excited to learn.
        </p>
    </div>
</div>

<div class="row">
	<div class="large-6 columns large-centered">
		<h1>Apply!</h1>
	</div>
</div>

<div class="row">
  <div class="large-6 columns large-centered">
    <div class="panel">
      <%= render "form", attendee_application: @attendee_application %>
    </div>
  </div>
</div>
