<div class="row">
	<div class="large-6 columns large-centered">
		<h1>Apply!</h1>			
	</div>
</div>

<div class="row">
  <div class="large-6 columns large-centered">
    <div class="panel">
      <%= render "form", attendee_application: @attendee_application %>
    </div>
  </div>
</div>
