<section class="home-hero">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= t('.hero.title') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <p><%= t('.hero.content') %></p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <a href="#" class="button">Apply to Attend</a>
      or
      <a href='#'>see how you can get involved</a>
    </div>
  </div>
</section>

<section>
  
</section>
