<section class="home-content">
  <div class="row">
    <div class="large-5 columns">
      <a href="" alt="Madison Ruby"><img src="" alt="" /></a>
    </div>
    <div class="large-5 columns">
      <a href="" alt="Treehouse"><img src="" alt="" /></a>
    </div>
    <div class="large-5 columns">
      <a href="" alt="Jumpstart Lab"><img src="" alt="" /></a>
    </div>
    <div class="large-5 columns">
      <a href="" alt="WMIAfrica"><img src="" alt="" /></a>
    </div>
  </div>
</section>
