<div class="row">
  <div class="large-12 columns">
    <% if current_user.has_role? :admin %>
        <ul>
          <% @waiting_list_applications.each do |application| %>
            <li> <%= application.name %>: <%= application.email %> </li>
          <% end %>
        </ul>
    <% else %>
        <div class="alert-box"> You don't have permission to view this </div>
    <% end %>
  </div>
</div>
