<div class="row">
    <div class="large-12 columns large-centered">
	<h1>Become a Mentor</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns large-centered">
        <div class="panel">
            <%= render "form", mentor_application: @mentor_application %>
        </div>
    </div>
</div>
