<div class="row">
	<div class="large-6 columns large-centered">
		<h1>Apply to be a mentor</h1>			
	</div>
</div>

<div class="row">
  <div class="large-6 columns large-centered">
    <div class="panel">
      <%= render "form", mentor_application: @mentor_application %>
    </div>
  </div>
</div>
