
<div class="row">
  <div class="large-12 columns">
    <h1>Mentor Applications</h1>
    

  </div>
  
</div>

<%= render partial: 'admin/applications', :locals => {applications: @mentor_applications} %>
