<h2>Hi <%= @attendee.name.titleize %>!</h2>

<p>
Thanks for applying to Nairobi Dev School! We've received your application and will review it as soon as possible. We'll follow up as soon as we can.
</p>

<p>
Best,
</p>
<p>
Nairobi Dev School
</p>
