.top-bar
  .title-area
    a
      font-size: 0.9em
      color: #95a5a6 !important
      font-weight: normal
  section a
    color: #95a5a6 !important
    font-weight: normal
    text-transform: uppercase
